.mainBody {
    background-color: #EEE;
}

md-whiteframe {
     background: #fff;
     margin: 20px;
     padding: 10px;
 }


#testmargin{
    padding: 10px;
}

/*md-card{*/
    /*background-color: #EEE;*/
/*}*/

md-list-item:hover {
    background-color: #eee;
}

md-toolbar{
}

md-content {
    background-color: #EEE
}

#widgets {
    z-index: 2;
    margin-top: -15%;
    /*margin-bottom: 10%;*/
    margin-left: 5%;
}

#profilePic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

#wrapper {
    height: 69%;
    overflow: auto;
}

md-fab-speed-dial {
    position: fixed;
    top: 80%;
    right: 20%;
}

md-input, md-input-container{
    color: blue;
}

.gridListdemoBasicUsage md-grid-list {
    margin: 8px; }
.gridListdemoBasicUsage .gray {
    background: #f5f5f5; }
.gridListdemoBasicUsage .green {
    background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
    background: #ffff8d; }
.gridListdemoBasicUsage .blue {
    background: #84ffff; }
.gridListdemoBasicUsage .purple {
    background: #b388ff; }
.gridListdemoBasicUsage .red {
    background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
    transition: all 400ms ease-out 50ms; }