body{
    background-color: #EEEEEE !important;
}

#wrapper {
    overflow: auto;
}

md-toolbar{
    position: fixed !important;
    min-height: 9% !important;
    max-height: 9% !important;
    box-shadow: 0px 3px 10px #888888 ;
}