* {
  box-sizing: border-box;
}
#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#main {
  width: 70%;
  float: left;
  border: 2px solid yellow;
  display: inline;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#sidebar {
    width: 30%;
    float: right;
    border: 2px solid blue;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
